@CHARSET "ISO-8859-1";

@import url("bootstrap.css");
@import url("bootstrap.min.css");
@import url("bootstrap.responsive.min.css");
@import url("bootstrap-responsive.css");

body {
	
	margin: 0px;
	padding: 0px;
	background-color: #f5f5f5;
}
/* Custom page CSS
      -------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container {
	width: auto;
	max-width: 900px;
}

#resultats{
	
		
}