<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>de.vogella.jersey.first</display-name>
  <welcome-file-list>
    <welcome-file>administration.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>services</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewClient</display-name>
    <servlet-name>AddNewClient</servlet-name>
    <servlet-class>servlets.AddNewClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewClient</servlet-name>
    <url-pattern>/AddNewClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindClient</display-name>
    <servlet-name>FindClient</servlet-name>
    <servlet-class>servlets.FindClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindClient</servlet-name>
    <url-pattern>/FindClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsClient</display-name>
    <servlet-name>DetailsClient</servlet-name>
    <servlet-class>servlets.DetailsClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsClient</servlet-name>
    <url-pattern>/DetailsClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDocument</display-name>
    <servlet-name>AddDocument</servlet-name>
    <servlet-class>servlets.AddDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDocument</servlet-name>
    <url-pattern>/AddDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDocument</display-name>
    <servlet-name>DeleteDocument</servlet-name>
    <servlet-class>servlets.DeleteDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDocument</servlet-name>
    <url-pattern>/DeleteDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClient</display-name>
    <servlet-name>DeleteClient</servlet-name>
    <servlet-class>servlets.DeleteClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClient</servlet-name>
    <url-pattern>/DeleteClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CertifierDocument</display-name>
    <servlet-name>CertifierDocument</servlet-name>
    <servlet-class>servlets.CertifierDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CertifierDocument</servlet-name>
    <url-pattern>/CertifierDocument</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ResponseKeynectis</display-name>
    <servlet-name>ResponseKeynectis</servlet-name>
    <servlet-class>servlets.ResponseKeynectis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseKeynectis</servlet-name>
    <url-pattern>/ResponseKeynectis</url-pattern>
  </servlet-mapping>
</web-app>