<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>de.vogella.jersey.first</display-name>
  <welcome-file-list>
    <welcome-file>adminHome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>services</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewClient</display-name>
    <servlet-name>AddNewClient</servlet-name>
    <servlet-class>servlets.AddNewClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewClient</servlet-name>
    <url-pattern>/AddNewClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindClient</display-name>
    <servlet-name>FindClient</servlet-name>
    <servlet-class>servlets.FindClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindClient</servlet-name>
    <url-pattern>/FindClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsClient</display-name>
    <servlet-name>DetailsClient</servlet-name>
    <servlet-class>servlets.DetailsClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsClient</servlet-name>
    <url-pattern>/DetailsClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDocument</display-name>
    <servlet-name>AddDocument</servlet-name>
    <servlet-class>servlets.AddDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDocument</servlet-name>
    <url-pattern>/AddDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDocument</display-name>
    <servlet-name>DeleteDocument</servlet-name>
    <servlet-class>servlets.DeleteDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDocument</servlet-name>
    <url-pattern>/DeleteDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClient</display-name>
    <servlet-name>DeleteClient</servlet-name>
    <servlet-class>servlets.DeleteClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClient</servlet-name>
    <url-pattern>/DeleteClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CertifierDocument</display-name>
    <servlet-name>CertifierDocument</servlet-name>
    <servlet-class>servlets.CertifierDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CertifierDocument</servlet-name>
    <url-pattern>/CertifierDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseKeynectis</display-name>
    <servlet-name>ResponseKeynectis</servlet-name>
    <servlet-class>servlets.ResponseKeynectis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseKeynectis</servlet-name>
    <url-pattern>/ResponseKeynectis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientAccueil</display-name>
    <servlet-name>ClientAccueil</servlet-name>
    <servlet-class>servlets.ClientAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientAccueil</servlet-name>
    <url-pattern>/ClientAccueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientAuthentification</display-name>
    <servlet-name>ClientAuthentification</servlet-name>
    <servlet-class>servlets.ClientAuthentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientAuthentification</servlet-name>
    <url-pattern>/ClientAuthentification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectSignature</display-name>
    <servlet-name>RedirectSignature</servlet-name>
    <servlet-class>servlets.RedirectSignature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectSignature</servlet-name>
    <url-pattern>/RedirectSignature</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSignaturePDF</display-name>
    <servlet-name>AddSignaturePDF</servlet-name>
    <servlet-class>servlets.AddSignaturePDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSignaturePDF</servlet-name>
    <url-pattern>/AddSignaturePDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfosPDF</display-name>
    <servlet-name>InfosPDF</servlet-name>
    <servlet-class>servlets.InfosPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfosPDF</servlet-name>
    <url-pattern>/InfosPDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveSignatures</display-name>
    <servlet-name>SaveSignatures</servlet-name>
    <servlet-class>servlets.SaveSignatures</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveSignatures</servlet-name>
    <url-pattern>/SaveSignatures</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigBackEndConstants</display-name>
    <servlet-name>ConfigBackEndConstants</servlet-name>
    <servlet-class>servlets.ConfigBackEndConstants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigBackEndConstants</servlet-name>
    <url-pattern>/ConfigBackEndConstants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowLogs</display-name>
    <servlet-name>ShowLogs</servlet-name>
    <servlet-class>servlets.ShowLogs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLogs</servlet-name>
    <url-pattern>/ShowLogs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddType</display-name>
    <servlet-name>AddType</servlet-name>
    <servlet-class>servlets.AddType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddType</servlet-name>
    <url-pattern>/AddType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypesXmlSaving</display-name>
    <servlet-name>TypesXmlSaving</servlet-name>
    <servlet-class>servlets.TypesXmlSaving</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypesXmlSaving</servlet-name>
    <url-pattern>/TypesXmlSaving</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendBase64PDF</display-name>
    <servlet-name>SendBase64PDF</servlet-name>
    <servlet-class>servlets.SendBase64PDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendBase64PDF</servlet-name>
    <url-pattern>/SendBase64PDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDocumentCertificationType</display-name>
    <servlet-name>UpdateDocumentCertificationType</servlet-name>
    <servlet-class>servlets.UpdateDocumentCertificationType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDocumentCertificationType</servlet-name>
    <url-pattern>/UpdateDocumentCertificationType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeCertifConfig</display-name>
    <servlet-name>TypeCertifConfig</servlet-name>
    <servlet-class>servlets.TypeCertifConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeCertifConfig</servlet-name>
    <url-pattern>/TypeCertifConfig</url-pattern>
  </servlet-mapping>
</web-app>
